body {
    background-color: cornsilk;
    font-family: Montserrat, sans-serif;
}
h1 {
    color: #21cad6;

}
nav.mainbar {
    background-color: #e59500;
    border: ridge;
    border-color: #002642;
    text-align: center;
    position: sticky;
    top: 10px;
    left: 30px;
}
nav{
    background-color: #e59500;
    border: ridge;
    border-color: #002642;
    text-align: center;
}

ul li {
    display: inline-block;
    padding: 0px 3px;
    
}
p {
    background-color: #e5dada;
    border: ridge;
    border-color: #02040F;
}
img{
    float: left;
    margin-right: 10px;
    width: 345px; 
    height: 359px;
}
